{% extends "general/structure.html" %}

{% block login %}
{% endblock login %}

{% block signup %}
{% endblock signup %}

{% block nav_greeting %}
{% include 'general/menu_pieces/nav_greeting.html' %}
{% endblock nav_greeting %}

{% block settings %}
{% include 'profile/menu_pieces/settings.html' %}
{% endblock settings %}

{% block admin %}
    {% if current_user.is_admin %}
        {% include 'admin/menu_pieces/admin.html' %}
    {% endif %}
{% endblock admin %}

{% block logout %}
{% include 'auth/menu_pieces/logout.html' %}
{% endblock logout %}

{% block main %}
<div class="content m-auto">
    <h3 class="color-text">Available users</h3>
    <br>
    <table class="table color-text">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Color</th>
                <th scope="col">Is active</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td scope="row" class="align-middle">{{ user.username }}</td>
                    <td style="background-color:{{ user.favourite_color }}" class="align-middle"></td>
                    <td class="align-middle">{{ user.is_active }}</td>
                    <td>
                        <button class="w-50 btn btn-sm general-button" type="submit">
                            TBD
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock main %}
