{% extends "general/structure.html" %}

{% block login %}
{% endblock login %}

{% block signup %}
{% endblock signup %}

{% block nav_greeting %}
{% include 'general/menu_pieces/nav_greeting.html' %}
{% endblock nav_greeting %}

{% block settings %}
{% include 'profile/menu_pieces/settings.html' %}
{% endblock settings %}

{% block admin %}
    {% if current_user.is_admin %}
        {% include 'admin/menu_pieces/admin.html' %}
    {% endif %}
{% endblock admin %}

{% block logout %}
{% include 'auth/menu_pieces/logout.html' %}
{% endblock logout %}

{% block main %}
<div class="form-settings m-auto">
    <form action="{{ url_for('profile.settings_post') }}" method="post">
        <h3 class="mb-3 color-text">Please pick up a new color</h3>

        <div class="form-group mb-3">
            <label class="color-text" for="changeColor">Select color</label>
            <select class="form-select" name="color" id="changeColor">
                {% for color in colors %}
                    <option value="{{ color.color }}" {% if color.color == current_user.favourite_color %} selected {% endif %}>{{ color.color }}</option>
                {% endfor %}
                <option value="gold">gold</option>
                <option value="">empty</option>
            </select>
        </div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <p class="text-bg-danger">{{ messages[0] }}</p>
        {% endif %}
        {% endwith %}

        <button class="w-100 btn btn-lg" style="color:#337def;background-color:#fcc729" type="submit">Change</button>
    </form>
</div>
{% endblock main %}
