{% extends "structure.html" %}

{% block login %}
    {% if not current_user.is_authenticated %}
        {% include 'pieces/login.html' %}
    {% endif %}
{% endblock login %}

{% block signup %}
    {% if not current_user.is_authenticated %}
        {% include 'pieces/signup.html' %}
    {% endif %}
{% endblock signup %}

{% block nav_greeting %}
    {% if current_user.is_authenticated %}
        {% include 'pieces/nav_greeting.html' %}
    {% endif %}
{% endblock nav_greeting %}

{% block logout %}
    {% if current_user.is_authenticated %}
        {% include 'pieces/logout.html' %}
    {% endif %}
{% endblock logout %}

{% block main %}
<div class="content m-auto">
    <h3 class="color-text">Page not found ;(</h3>
</div>
{% endblock main %}
