<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <title>Save your fav color</title>
    </head>
    <body class="text-center">
        <header>
            <!-- Fixed navbar -->
            <nav class="navbar navbar-expand-md bg-faded justify-content-center">
                <div class="navbar-collapse collapse w-100">
                    <ul class="navbar-nav w-100">
                        <li class="nav-item active">
                            <a class="nav-link" style="color:#fcc729" href="/">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" style="color:#fcc729" href="/profile">Profile</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                        {% block login %}
                        {% include 'pieces/login.html' %}
                        {% endblock login %}

                        {% block signup %}
                        {% include 'pieces/signup.html' %}
                        {% endblock signup %}

                        {% block nav_greeting %}
                        {% endblock nav_greeting %}

                        {% block settings %}
                        {% endblock settings %}

                        {% block logout %}
                        {% endblock logout %}
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Main content -->
        <div class="container">
            {% block main %}
            {% endblock main %}
        </div>

        <footer class="footer">
            <!-- Fixed footer -->
            <div class="container">
                <h7 class="text-center color-text">© 2022 Oleh Zorenko</h7>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>
